html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(135deg, #5b7bff, #331fa8);
  color: rgb(77, 77, 77);
  font-weight: 200;  

}

.logo {
  font-weight: 100;
  font-size: 30px;
  padding: 0px;
}

.navbar {
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
  height: 50px;
  padding: 10px 0 0 0px;
  
}

.navbar li {
  display: inline-block;
  font-weight: 200;
  padding: 0 0 0 10px;
}

.flag {
  text-align: center;
	vertical-align: middle;
  height: 150px;
  margin: auto;
}

.col, .col-4 {
  background-color: white;
  margin: 15px;
  padding: 0px;
}

.game {
  padding: 40px;
}

.game-option {
  cursor: pointer; 
  padding: 10px;
  border: 1px solid #e4e4e4;
  margin: 15px 0 0 0;
  vertical-align: middle;
  background-color: rgb(245, 245, 245);
}

.game-option p {
  margin: 0;
}

.flag-img {
  width: 200px;
}

.profile-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: inline-block;
}

.profile-col {
  display: inline-block;
}

.username {
  font-size: 30px;
  padding-left: 20px;
}

.score {
  font-size: 90px;
  font-weight: 800;
  color: #4264fb;
  margin: 0;
  overflow: hidden;
}

.total-countries {
  font-size: 30px;
  font-weight: 200;
  color: rgb(77, 77, 77);
}

.profile-row {
  padding: 30px;
}

.float-right {
  float: right;
}

#mapid { 
  height: 300px;
}